<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">Mathley Blog</a>
      <a class="nav-link">Stay Hungry Stay Foolish</a>
    </div>
  </nav>